[tool.poetry]
name = "beanhub-import"
version = "0.3.2"
description = "The simple library for import extracted transactions provided by beanhub-extract and generate corresponding Beancount transactions based on predefined rules"
authors = ["Fang-Pen Lin <fangpen@launchplatform.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
pytz = ">=2023.1,<2025"
pydantic = ">= 2.0.0, <3.0.0"
pyyaml = "^6.0.1"
jinja2 = "^3.1.3"
beanhub-extract = ">= 0.1.0, <0.2.0"
beancount-black = ">= 1.0.2, < 1.1.0"
beancount-parser = ">= 1.2.3, < 1.3.0"

[tool.poetry.dev-dependencies]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.1"
pytest-mock = "^3.11.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
